.section {
    background-color:purple;
}
.h1 {
color: rgb(114,202,167);

}
.p {
    color: green;
}
.h2 {
    color:purple
}
.p {
    color:yellow
}
.navbar {
    Color:highlighttext;
    width: 85%;
    margin:auto;
    padding: 35px 0;
    display:flex;
    align-items:center;
    justify-content:space-between;
    
}